.picture {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(rgba(42, 108, 234, 0.8)),
    url(../assets/lunch.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .description_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 334px;
    max-width: 748px;
    .description {
      display: flex;
      flex-direction: column;

      text-align: center;
      color: rgba(255, 255, 255, 1);
      h1 {
        margin: 0;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
